.container {
  font-family: Lato;
  color: var(--text-black);
  padding: var(--padding);
  display: flex;
  flex-direction: row;
}

.authorProfilePic {
  border-radius: 8px;
}

.tweet {
  padding-left: var(--padding);
}

.tweetHeader {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweetAuthor {
  color: var(--text-black);
  text-decoration: none;
}

.tweetAuthorUsername {
  color: var(--text-grey);
}

.tweetDuration {
  color: var(--text-grey);
}

.tweetContent {
  color: var(--text-grey);
  padding-top: var(--padding);
}